<launch>

    <node name="murder_demo" pkg="murder_swarm" type="murder_swarm_node" output="screen">
        <rosparam command="load" file="$(find block_map)/color/Paranoid.yaml" />
        <rosparam command="load" file="$(find murder_swarm)/resource/debug.yaml" />
        <rosparam command="load" file="$(find block_map)/color/color_id.yaml" />
        <remap from="/depth" to="/firefly/vi_sensor/camera_depth/depth/disparity"/>
        <remap from="/odom" to="/firefly/ground_truth/odometry"/>
        <remap from="/vi_odom" to="/firefly/vi_sensor/ground_truth/odometry"/>
        <remap from="/block_map/caminfo" to="/firefly/vi_sensor/camera_depth/depth/camera_info"/>
    </node>

    <node name="traj_exc_node" pkg="traj_exc" type="traj_exc_node" output="screen">
        <rosparam command="load" file="$(find murder_swarm)/resource/debug.yaml" />
        <remap from="/odom" to="/firefly/ground_truth/odometry"/>
        <remap from="/trajectory_cmd" to="/Murder/Traj"/>
    </node>

    <include file="$(find murder_swarm)/launch/rotors_sim.launch">
        <arg name="world" value="testmap" />
        <arg name="gui" value="true" />
        <arg name="waypoint_x" value="0.0" />
        <arg name="waypoint_y" value="1.0" />
        <arg name="waypoint_z" value="0.2" />
        <arg name="odom_topic" value="/ground_truth/odometry" />
    </include>

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find murder_swarm)/rviz/debug.rviz" />

</launch>