<launch>
  <arg name="id" default="1"/>
    <arg name="init_x" value="0.0" />
    <arg name="init_y" value="0.0" />
    <arg name="init_z" value="0.2" />
    <arg name="use_rviz" value="true" />

    <node name="murder_demo" pkg="murder_swarm" type="murder_swarm_node" output="screen">
        <rosparam command="load" file="$(find block_map)/color/Paranoid.yaml" />
        <rosparam command="load" file="$(find murder_swarm)/resource/murder_demo.yaml" />
        <rosparam command="load" file="$(find block_map)/color/color_id.yaml" />
        
        <remap from="/depth" to="/firefly/vi_sensor/camera_depth/depth/disparity"/>
        <remap from="/odom" to="/firefly/ground_truth/odometry"/>
        <remap from="/vi_odom" to="/firefly/vi_sensor/ground_truth/odometry"/>
        <remap from="/block_map/caminfo" to="/firefly/vi_sensor/camera_depth/depth/camera_info"/>
        <remap from="/Murder/Traj" to="/Murder/Traj$(arg id)"/>
        <param name="Exp/UAV_id" value="$(arg id)" type="double"/>
        <param name="Exp/drone_num" value="1" type="int"/>
        
    </node>

    <node name="traj_exc_node" pkg="traj_exc" type="traj_exc_node" output="screen">
        <rosparam command="load" file="$(find murder_swarm)/resource/murder_demo.yaml" />
        <remap from="/odom" to="/firefly/ground_truth/odometry"/>
        <remap from="/trajectory_cmd" to="/Murder/Traj$(arg id)"/>
    </node>

    <include file="$(find murder_swarm)/launch/rotors_sim.launch">
        <arg name="world" value="maze4" />
        <arg name="gui" value="true" />
        <arg name="waypoint_x" value="$(arg init_x)" />
        <arg name="waypoint_y" value="$(arg init_y)" />
        <arg name="waypoint_z" value="$(arg init_z)" />
        <arg name="odom_topic" value="/ground_truth/odometry" />
    </include>

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find murder_swarm)/rviz/murder_demo.rviz" if="$(eval arg('use_rviz'))"/>

</launch>