<launch>
  <arg name="drone_id" default="2"/>

    <node name="murder_swarm_demo_$(arg drone_id)" pkg="murder_swarm" type="murder_swarm_node" output="screen">
        <rosparam command="load" file="$(find block_map)/color/Paranoid.yaml" />
        <rosparam command="load" file="$(find murder_swarm)/resource/murder_swarm2_demo.yaml" />
        <rosparam command="load" file="$(find block_map)/color/color_id.yaml" />
        <remap from="/depth" to="/firefly$(arg drone_id)/vi_sensor/camera_depth/depth/disparity"/>
        <remap from="/odom" to="/firefly$(arg drone_id)/ground_truth/odometry"/>
        <remap from="/vi_odom" to="/firefly$(arg drone_id)/vi_sensor/ground_truth/odometry"/>
        <remap from="/block_map/caminfo" to="/firefly$(arg drone_id)/vi_sensor/camera_depth/depth/camera_info"/>
        <remap from="/start_trigger" to="/drone_$(arg drone_id)/start_trigger"/>
        <remap from="/Murder/Traj" to="/drone_$(arg drone_id)/Traj"/>
    </node>

    <!-- <node name="traj_exc_node" pkg="traj_exc" type="traj_exc_node" output="screen">
        <rosparam command="load" file="$(find murder_swarm)/resource/murder_swarm2_demo.yaml" />
        <remap from="/odom" to="/firefly/ground_truth/odometry"/>
        <remap from="/trajectory_cmd" to="/Murder/Traj"/>
    </node> -->

    <node name="traj_exc_node" pkg="traj_exc" type="traj_exc_node" output="screen">
        <rosparam command="load" file="$(find murder_swarm)/resource/murder_swarm2_demo.yaml" />
        <remap from="/odom" to="/firefly$(arg drone_id)/ground_truth/odometry"/>
        <remap from="/trajectory_cmd" to="/drone_$(arg drone_id)/Traj"/>
        <remap from="/start_trigger" to="/drone_$(arg drone_id)/start_trigger"/>
        <remap from="/command/trajectory" to="/firefly$(arg drone_id)/command/trajectory"/>
    </node>

    <include file="$(find swarm_bridge)/launch/test_tcp_drone2.launch">
        <arg name="drone_id" value="$(arg drone_id)" />
    </include>

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find murder_swarm)/rviz/murder_swarm2_demo.rviz" />

</launch>